<form class="container">
    <input
      type="text"
      class="guess-box"
      placeholder="Guess a Country..."
      [(ngModel)]="guess"
      (keydown.enter)="sendGuessToParent()"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let country of filteredCountries | async" [value]="country" (click)="sendGuessToParent()">
        {{ country }}
    </mat-option>
  </mat-autocomplete>

</form>

