.container {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-box {
  background-color: transparent;
  color: white;
  border: 2px solid var(--accent-bright);
  height: 40px;
  width: 500px;
  font-size: 20px;
  font-family: IBMPlexLight;
  padding: 0.5rem;
  &::placeholder {
    color: rgba(255, 255, 255, 0.586);
  }

  &:focus {
    outline: none;
  }
}

::ng-deep {
  &.mat-option {
    border: 1px solid var(--accent-bright);
    margin: .25rem;
    background-color: var(--secondary);
    &-text {
      color: white;
      font-family: IBMPlexLight;
      font-size: 18px;
    }
  }
  &.mat-autocomplete-panel {
    margin: .5rem 0;
    background-color: var(--primary);
  }
  &.mat-option.mat-selected:not(.mat-active):not(:hover) {
    background-color: var(--primary)!important;
  }
}
