.container {
    width: 100%;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.guess-box, .distance {
    color: white;
    font-family: IBMPlexLight;
    font-size: 20px;
    margin: 0;
}

.wrapper {
    background-color: var(--secondary);
    border: .5px solid var(--secondary-highlight);
    margin: .2rem 0;
    height: 40px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.distance {
    display: flex;
    justify-content: right;
}

.direction-img {
    height: 30px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
}