/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: IBMPlexBold;
  src: url("./assets/fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: IBMPlexExtraLight;
  src: url("./assets/fonts/IBMPlexSans-ExtraLight.ttf");
}

@font-face {
  font-family: IBMPlexLight;
  src: url("./assets/fonts/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: IBMPlexMedium;
  src: url("./assets/fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBMPlexRegular;
  src: url("./assets/fonts/IBMPlexSans-Regular.ttf");
}

* {
  box-sizing: border-box;
  font-family: IBMPlexBold;
}

:root {
  --primary: #222831;
  --secondary: #393e46;
  --secondary-highlight: #51555b;
  --accent-bright: #00adb5;
  --accent-light: #eeeeee;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}
